<div>

    <h2>Labeledpoints</h2>

    <script type = "text/ng-template" id="labeledpoint-save.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty"
                      ng-submit="ok()">

                    <div class="modal-header">
                        <button type="button" class="close"
                                ng-click="cancel()">&times;</button>
                        <h4 class="modal-title" id="myLabeledpointLabel">Create or edit a Labeledpoint</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="labeledpoint.id" readonly>
                        </div>

                        
                        <div class="form-group">
                            <label>label:</label>
                            
                            <input type="checkbox" name="label"
                                   ng-model="labeledpoint.label" ng-required="true"/>
                        </div>
                        
                        <div class="form-group">
                            <label>features:</label>
                            
                            <input type="text" class="form-control" name="features"
                                   ng-model="labeledpoint.features" ng-required="true"
                                   />
                            <span class="error" ng-show="form.features.$error.minlength">Must be at least  characters.</span>
                            <span class="error" ng-show="form.features.$error.maxlength">Must be at most  characters.</span>
                        </div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </script>

    <button class="btn btn-primary btn-lg" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Labeledpoint
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                
                <th>label</th>
                
                <th>features</th>
                
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="labeledpoint in labeledpoints">
                <td>{{labeledpoint.id}}</td>
                
                <td>{{labeledpoint.label }}</td>
                
                <td>{{labeledpoint.features }}</td>
                
                <td>
                    <button type="submit"
                            ng-click="update(labeledpoint.id)"
                            class="btn">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                    <button type="submit"
                            ng-click="delete(labeledpoint.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span> Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
