body {
  margin-top: 60px;
  padding: 10px;
}

.chart {
    width: 500px;
    height: 300px;
}

/* http://angular-ui.github.io/bootstrap/  */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
