<div>

  <h2>Trainingresults</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          
          <th>Summary Statistics</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="TrainingResults in Trainingresults">
          <td>{{TrainingResults.id}}</td>
          <td>{{TrainingResults.jsonReport.summaryStatistics | json }}</td>
          <td>
            <a ng-href="#/reports/{{TrainingResults.id}}">
              <button class="btn btn-success">
                <span class="glyphicon glyphicon-zoom-in"></span> View
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
